.b11 {
    width: 72px;
    height: 28px;
}
.b12{
        left:20px;
        top: 20px;
        }
.b13
{
    left :100px;
    top:20px;
}

.b14
{
    left :180px;
    top:20px;
}

.b15
{
    left :260px;
    top:20px;
}

.p1
{
    width:50px;
    height:50px;
    color:#ff0000;
    hit-test: caption 0px 0px 50px 20px;
}
.p2
{
    left:150px;
    top:130px;
}