.b11 {
    width: 72px;
    height: 28px;
}
.b12{
        left:20px;
        top: 20px;
        }
.b13
{
    left :100px;
    top:20px;
}
.p1
{
    width:50px;
    height:50px;
}
.p2
{
    left:150px;
    top:130px;
}